.contact {
  margin-top: 4rem;
  margin-bottom: 4rem;
  text-align: center;

  label {
    display: block;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
  }

  &-title,
  &-text {
    @include apply-max-width;
    margin-bottom: 1rem;
  }

  input,
  textarea {
    width: 100%;
    margin-bottom: 1rem;
    padding: 0.5rem;
    font-size: 1.2rem;
    border: 1px solid $dark-accent;
  }
}

.contact-form {
  display: block;
  width: 400px;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;

  & > textarea {
    height: 4rem;
    resize: none;
  }

  & > button {
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: $green;
    color: white;
    border: none;
    padding: 0.5rem 0;
    font-size: 1.2rem;
  }
}

.contact-error {
  width: 400px;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
  word-wrap: unset;
  
  padding: 8px;
  margin-bottom: 1rem;

  background-color: salmon;
  color: white;

}

.contact-form-submitting-text {
  font-style: italic;
}

.contact-form-success-icon {
  height: 100px;
  margin-bottom: 0.5rem;
}

.contact-form-success-text__two {
  display: block;
  margin-top: 0.25rem;
}

.contact-recaptcha-text {
  margin: -0.5rem 0 1rem 0;
  color: gray;
  font-style: italic;

  a {
    color: $dark-grey;
  }
}

.grecaptcha-badge { 
  visibility: hidden;
}
