$color: $green;

.cta-primary-button {
  color: white;
  background-color: $color;
  font-size: .9rem;
  text-transform: uppercase;
  letter-spacing: 0.05em;

  border: 2px solid $green;
  border-radius: 5px;
  width: 150px;
  height: 37px;

  &:visited {
    background-color: $color;
  }
}
