$color: $green;

.cta-button {
  background-color: $color !important;
  border-color: $color !important;

  &:hover,
  &:active {
    background-color: darken($color, 10%) !important;
    border-color: darken($color, 10%) !important;
  }
  &:visited {
    background-color: $color !important;
  }
}
