$color: $green;

.cta-button {
  color: white;
  background-color: $color;
  font-size: .9rem;
  text-transform: uppercase;
  letter-spacing: 0.05em;

  // font-weight: 700;

  border: 0px;
  border-radius: 5px;
  padding: 10px 16px;

  &:hover,
  &:active {
    background-color: darken($color, 10%);
  }
  &:visited {
    background-color: $color;
  }
}
