$color: $green;

.cta-button {
  color: white;
  background-color: $color;
  font-size: 1.2em;

  border: 0px;
  border-radius: 5px;
  padding: 8px 20px;

  &:hover,
  &:active {
    background-color: darken($color, 10%);
  }
  &:visited {
    background-color: $color;
  }
}

.cta-phone {
  color: white;
  transform: rotate(90deg);
}
