$color: $green;

.cta-primary-button {
  display: block;

  color: white;
  text-align: center;
  font-style: normal;
  line-height: 2.2rem;
  background-color: $color;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.05em;

  border: 2px solid $green;
  border-radius: 5px;
  width: 150px;
  height: 37px;

  &:visited {
    background-color: $color;
  }
}

.phone-cta {
  margin: 2rem 0;
  text-align: center;

  &-title {
    font-size: 0.9rem;
    font-weight: bold;
    margin-bottom: 4px;
  }

  &-button {
    background: none;
    border: none;
    font-size: 1.6rem;
    &:link,
    &:visited {
      color: $green;
    }
  }
}

.cta {
  text-align: center;
  font-style: italic;
}

.cta > .cta-button {
  color: white;

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 8px;
}

.cta-email-button {
  border: 0;
  padding: 0;
  margin: 0;
  background: none;

  color: $dark-accent;
  font-style: italic;
}
