.hero {
  text-align: center;

  min-height: 60vh;

  background-image: url('../../src/assets/hero.png');
  background-size: cover;
  background-position: center;
}

.hero-content {
  padding: 10vh 16px;
  color: white;
}

.hero-list {
  list-style: none;
  font-style: italic;

  // Removes baseline padding
  padding-left: 0;
}

.hero-list > li {
  display: inline-block;

  &:after {
    content: "  •  ";
    // Prevents extra spaces from being removed
    white-space: pre;
  }

  &:last-of-type {
    &:after {
      content: none;
    }
  }
}
