$green: #66bb46;
$light-accent: lighten($green, 20%);
$dark-accent: #007700;

$dark-gray: #444444;
$dark-grey: #444444;
$light-gray: #e5e5e5;
$light-grey: #e5e5e5;

$black: #1c1c1c;
$off-white: #f7f9fc;
