extends _base

block config
  title 3PercentBroker.com - Compromise on price, not service
  - let current = 'Home';

block content
  section.hero
    .hero
      h1 Hello World!
  section.showcase
    .showcase__item
      a.showcase__link(href="#") Hello!
    .showcase__item
      a.showcase__link(href="#") Hello!        
    .showcase__item
      a.showcase__link(href="#") Hello!
